.x-editor-custom .popover {
    border-radius: 0px;
    border: 1px solid #64d9ae;
    padding: 0px;
}

.x-editor-custom .input-sm {
    font-size: 13px;
    border-radius: 0px;
}

.x-editor-custom .form-control:focus {
    font-size: 13px;
    border-radius: 0px;
    box-shadow: none;
    border-color: #64d9ae;
}

.x-editor-custom .form-control {
    border-radius: 0px;
}

.x-editor-custom .btn-primary {
    background-color: #64d9ae;
    border-color: #64d9ae;
}

.x-editor-custom .btn-default {
    background-color: #303030;
    border-color: #303030;
    color: #fff;
}

.x-editor-custom .btn-primary:hover,
.x-editor-custom .btn-primary:focus {
    background-color: #303030;
    border-color: #303030;
}

.x-editor-custom .btn-default:hover,
.x-editor-custom .btn-default:focus {
    background-color: #64d9ae;
    border-color: #64d9ae;
}

.x-editor-custom .popover-title {
    background: #64d9ae;
    color: #fff;
    border-radius: 0px;
    padding: 10px 15px;
}

.x-editor-custom .datepicker table tr td.active,
.x-editor-custom .datetimepicker table tr td.active {
    background-color: #64d9ae;
    background-image: -moz-linear-gradient(top, #64d9ae, #64d9ae);
    background-image: -ms-linear-gradient(top, #64d9ae, #64d9ae);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#64d9ae), to(#64d9ae));
    background-image: -webkit-linear-gradient(top, #0088cc, #64d9ae);
    background-image: -o-linear-gradient(top, #0088cc, #64d9ae);
    background-image: linear-gradient(top, #0088cc, #64d9ae);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#64d9ae', GradientType=0);
    border-color: #64d9ae #64d9ae #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.x-editor-custom .select2-container .select2-choice {
    border: 0px solid #aaa;
    color: #fff;
    border-radius: 0px;
    background-color: #64d9ae;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #64d9ae), color-stop(0.5, #64d9ae));
    background-image: -webkit-linear-gradient(center bottom, #64d9ae 0%, #64d9ae 50%);
    background-image: -moz-linear-gradient(center bottom, #64d9ae 0%, #64d9ae 50%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#64d9ae', endColorstr='#64d9ae', GradientType=0);
    background-image: linear-gradient(top, #64d9ae 0%, #64d9ae 50%);
}

.x-editor-custom .select2-container .select2-choice .select2-arrow {
    border-left: 0px solid #aaa;
    border-radius: 0;
    background: #303030;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #303030), color-stop(0.6, #303030));
    background-image: -webkit-linear-gradient(center bottom, #303030 0%, #303030 60%);
    background-image: -moz-linear-gradient(center bottom, #303030 0%, #303030 60%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=0);
    background-image: linear-gradient(303030);
}

.x-editor-custom .select2-container-multi .select2-choices {
    border: 1px solid #64d9ae;
}

.x-editor-custom .select2-container-multi .select2-choices .select2-search-choice {
    color: #fff;
    border: 1px solid #64d9ae;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 2px #64d9ae inset, 0 1px 0 #64d9ae;
    box-shadow: 0 0 2px #64d9ae inset, 0 1px 0 #64d9ae;
    background-color: #64d9ae;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#64d9ae', endColorstr='#64d9ae', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #64d9ae), color-stop(50%, #64d9ae), color-stop(52%, #64d9ae), color-stop(100%, #64d9ae));
    background-image: -webkit-linear-gradient(top, #64d9ae 20%, #64d9ae 50%, #64d9ae 52%, #64d9ae 100%);
    background-image: -moz-linear-gradient(top, #64d9ae 20%, #64d9ae 50%, #64d9ae 52%, #64d9ae 100%);
    background-image: linear-gradient(top, #64d9ae 20%, #64d9ae 50%, #64d9ae 52%, #64d9ae 100%);
}

.x-editor-custom .datetimepicker table tr td span.active {
    background-color: #64d9ae;
    background-image: -moz-linear-gradient(top, #64d9ae, #64d9ae);
    background-image: -ms-linear-gradient(top, #64d9ae, #64d9ae);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(64d9ae), to(#64d9ae));
    background-image: -webkit-linear-gradient(top, #64d9ae, #64d9ae);
    background-image: -o-linear-gradient(top, #64d9ae, #64d9ae);
    background-image: linear-gradient(top, #64d9ae, #64d9ae);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#64d9ae', endColorstr='#64d9ae', GradientType=0);
    border-color: #64d9ae #64d9ae #64d9ae;
}