/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .left-sidebar-pro {
        display: block;
    }
    .mobile-menu-area {
        display: none;
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff;
    }
    .menu-switcher-pro {
        display: none;
    }
    .logo-pro {
        display: none;
    }
    .col-lg-1.col-md-0.col-sm-1.col-xs-12 {
        display: none;
    }
    .mg-stock-res-n {
        display: none;
    }
    .login2.pull-right.pull-right-pro {
        text-align: left !important;
        float: left !important;
    }
    .res-dis-nn {
        display: none !important;
    }
    .header-top-area {
        position: relative;
        left: 0px;
    }
    .analysis-progrebar-ctn {
        margin-top: 0px;
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .res-mg-t-15 {
        margin-top: 15px;
    }
    .review-ctn-hf h3 {
        font-size: 14px;
    }
    .analytics-sparkle-line .analytics-content h5,
    .analytics-rounded .analytics-rounded-content h5,
    .analysis-progrebar .analysis-progrebar-content h5 {
        font-size: 14px;
    }
    .review-item-rating i {
        font-size: 14px;
    }
    .dk-res-t-pro-30 {
        margin-top: 30px;
    }
    .dk-res-t-pro-0 {
        margin-top: 0px;
    }
    .dk-res-t-d-n {
        display: none;
    }
    .single-review-st-text {
        padding: 9px 0px;
    }
    .courses-title img {
        width: 100%
    }
    .professor-stds {
        margin-right: 5px;
    }
    .login-social-inner a.button {
        margin: 5px 5px;
    }
    .button-ap-list button {
        margin-bottom: 10px;
    }
    .blog-sig-details-dt.courses-info span {
        margin: 10px 10px 0;
    }
    .dps-tb-ntn {
        display: none;
    }
    .dk-mg-b-0-desk {
        margin-bottom: 0px;
    }
    #myTab3.tab-review-design li a:before,
    #myTab4.tab-review-design li a:before,
    #myTabedu1.tab-review-design li a:before {
        bottom: -10px;
    }
    #myTab3.tab-review-design li.active a:before,
    #myTab4.tab-review-design li.active a:before,
    #myTabedu1.tab-review-design li.active a:before {
        bottom: -10px;
    }
    .pro-ad .download-custom h2,
    .pro-ad .download-custom p {
        line-height: 24px;
    }
    .notes-img img {
        margin-top: 20px;
    }
    .nck-ds {
        display: none;
    }
    .contact-stat {
        width: 33.33%;
    }
    .professor-stds {
        width: 33.33%;
    }
    .images-action-pro .btn {
        margin: 5px 0px;
    }
    .notification-bt .btn {
        margin: 5px 5px;
    }
    .tbpf-res-mg-15 {
        margin-top: 15px;
    }
    .header-right-info ul.header-right-menu li.open .author-message-top,
    .header-right-info ul.header-right-menu li.open .notification-author,
    .header-right-info ul.header-right-menu li.open .author-log {
        top: 184%;
    }
    .header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
        top: 185%;
    }
    .header-right-info ul.header-right-menu li.open .author-log {
        top: 167%;
    }
    .header-right-info .author-message-top::before,
    .header-right-info .notification-author::before {
        position: unset;
        display: block;
        border-width: 0px;
    }
    #myTab3.tab-review-design li a,
    #myTabedu1.tab-review-design li a {
        padding-right: 35px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .left-sidebar-pro {
        display: none;
    }
    .all-content-wrapper {
        margin-left: 0px;
    }
    .mobile-menu-area {
        display: block;
        position: relative;
        z-index: 9;
    }
    .logo-pro {
        display: block;
        text-align: center;
        background: #fff;
    }
    .menu-switcher-pro {
        display: none;
    }
    .header-top-menu {
        display: none;
    }
    .header-right-info .navbar-nav {
        float: unset;
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
    }
    .responsive-dn-stock {
        display: none;
    }
    .login2.pull-right.pull-right-pro {
        text-align: left !important;
        float: left !important;
    }
    .header-top-area {
        position: relative;
        left: 0px;
    }
    .analysis-progrebar-ctn {
        margin-top: 0px !important;
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .res-mg-t-15 {
        margin-top: 15px;
    }
    .res-mg-t-30 {
        margin-top: 30px;
    }
    .res-tablet-mg-t-30 {
        margin-top: 30px;
    }
    .table-mg-t-pro {
        margin-top: 30px;
    }
    .table-mg-t-pro-n {
        margin-top: 0px;
    }
    .review-ctn-hf h3 {
        font-size: 14px;
    }
    .table-dis-n-pro {
        display: none;
    }
    .social-edu-ctn h3 {
        font-size: 16px;
    }
    .white-box h3 {
        font-size: 20px;
    }
    .review-item-rating i {
        font-size: 14px;
    }
    .single-review-st-hd h2 {
        font-size: 20px;
    }
    .tb-sm-res-d-n {
        display: none;
    }
    .single-review-st-text {
        padding: 10px 0px;
    }
    .courses-title img {
        width: 100%
    }
    .professor-stds {
        margin-right: 5px;
    }
    .login-social-inner a.button {
        margin: 5px 5px;
    }
    .button-ap-list button {
        margin-bottom: 10px;
    }
    .blog-sig-details-dt.courses-info span {
        margin: 10px 10px 0;
    }
    .mean-container .mean-nav ul li a {
        color: #303030;
    }
    .mean-container .mean-nav ul li a:hover {
        color: #64d9ae;
    }
    .dps-tb-ntn {
        display: none;
    }
    .table-mg-btm-0-pro {
        margin-bottom: 0px;
    }
    .country-state li {
        margin: 25px 0px;
    }
    #myTab3.tab-review-design li a:before,
    #myTab4.tab-review-design li a:before,
    #myTabedu1.tab-review-design li a:before {
        bottom: -10px;
    }
    #myTab3.tab-review-design li.active a:before,
    #myTab4.tab-review-design li.active a:before,
    #myTabedu1.tab-review-design li.active a:before {
        bottom: -10px;
    }
    .pro-ad .download-custom h2,
    .pro-ad .download-custom p {
        line-height: 24px;
    }
    .notes-img img {
        margin-top: 20px;
    }
    .nck-ds {
        display: none;
    }
    .contact-stat {
        width: 33.33%;
    }
    .professor-stds {
        width: 33.33%;
    }
    #myTab3.tab-review-design,
    #myTabedu1.tab-review-design {
        padding: 0px 15px;
    }
    .custom-product-edit {
        margin-top: 0px;
    }
    .devit-card-custom .form-group {
        margin: 10px 0px;
    }
    .images-action-pro .btn {
        margin: 5px 0px;
    }
    .notification-bt .btn {
        margin: 5px 5px;
    }
    .tbpf-res-mg-15 {
        margin-top: 15px;
    }
    .st-prf-pro {
        margin-top: 15px;
    }
    .header-right-info ul.header-right-menu li.open .author-message-top,
    .header-right-info ul.header-right-menu li.open .notification-author,
    .header-right-info ul.header-right-menu li.open .author-log {
        top: 184%;
    }
    .header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
        top: 185%;
        left: -170px;
    }
    .header-right-info ul.header-right-menu li.open .author-log {
        top: 167%;
    }
    button.pd-setting-ed {
        margin: 5px 5px;
    }
    .header-right-info .author-message-top::before,
    .header-right-info .notification-author::before {
        position: unset;
        display: block;
        border-width: 0px;
    }
    #myTab3.tab-review-design li a,
    #myTabedu1.tab-review-design li a {
        padding-right: 30px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .left-sidebar-pro {
        display: none;
    }
    .all-content-wrapper {
        margin-left: 0px;
    }
    .mobile-menu-area {
        display: block;
        position: relative;
        z-index: 9;
    }
    .logo-pro {
        display: block;
        text-align: center;
    }
    .menu-switcher-pro {
        display: none;
    }
    .header-top-menu {
        display: none;
    }
    .header-right-info .navbar-nav {
        float: unset;
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
    }
    .header-right-info ul.header-right-menu li .author-message-top {
        left: 4px;
        z-index: 99999999;
    }
    .header-right-info ul.header-right-menu li .notification-author {
        left: -33px;
        z-index: 99999999;
    }
    .header-right-info ul.header-right-menu li .author-log {
        z-index: 99999999;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 13px;
    }
    .header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.dropdown-menu {
        left: -235px;
        width: 270px;
        padding: 15px;
        z-index: 99999999;
    }
    .header-right-info ul.header-right-menu li .author-message-top,
    .header-right-info ul.header-right-menu li .notification-author,
    .header-right-info ul.header-right-menu li .author-log {
        width: 270px;
    }
    .admintab-wrap.menu-setting-wrap .nav>li>a {
        padding: 10px 10px;
    }
    .welcome-inner {
        text-align: center;
    }
    .product-statas-wrap {
        display: flex;
        float: none;
        text-align: center;
        padding: 10px 0px;
    }
    .responsive-mg-b-30 {
        margin-bottom: 30px;
    }
    .reso-mg-b-30 {
        margin-bottom: 30px;
    }
    .responsive-mg-b-0 {
        margin-bottom: 0px;
    }
    .responsive-mg-b-10 {
        margin-bottom: 10px;
    }
    .mt-t-30.mg-b-15.responsive-mg-b-30 {
        margin-bottom: 30px;
    }
    .responsive-mg-t-0 {
        margin-top: 0px;
    }
    .sale-earning-tl {
        text-align: center;
    }
    .history-anl-icon {
        text-align: center;
    }
    .product-hisory-tln-ht {
        text-align: center;
    }
    .product-status-wrap {
        overflow-y: hidden;
        width: 100%;
    }
    .fc-toolbar .fc-right {
        float: left;
        margin: 15px 0px;
    }
    .tab-content-details {
        padding: 20px 20px;
    }
    .login2.pull-right.pull-right-pro {
        text-align: left !important;
        float: left !important;
    }
    .blog-sig-details-dt span {
        margin: 10px 5px 0;
    }
    .fixed-table-toolbar .columns,
    .fixed-table-toolbar .search {
        float: left !important;
    }
    .dropzone-custom-sys {
        padding: 30px 0px;
    }
    .pdf-single-pro .media {
        width: 100% !important;
        overflow-x: auto;
        overflow-y: auto;
        height: 100%;
    }
    .peity-res-scroll,
    .res-tree-ov {
        width: 100% !important;
        overflow-x: auto;
        overflow-y: auto;
        height: 100%;
    }
    .product-list-cart .product-status-wrap {
        width: 100% !important;
        overflow-x: auto;
        overflow-y: auto;
        height: 100%;
    }
    .header-top-area {
        position: relative;
        left: 0px;
    }
    .analysis-progrebar-ctn {
        margin-top: 0px;
    }
    .breadcome-list {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .res-mg-t-15 {
        margin-top: 15px;
    }
    .res-mg-t-30 {
        margin-top: 30px;
    }
    #myTab3.tab-review-design li a {
        margin: 12px 0px;
        display: block;
    }
    ul.tab-custon-design li a,
    ul.tab-custon-design li a:hover,
    ul.tab-custon-design li a:focus,
    ul.tab-review-design li a,
    ul.tab-review-design li a:hover,
    ul.tab-review-design li a:focus {
        font-size: 18px;
        margin: 12px 0px;
        display: block;
    }
    .single-product-image img {
        width: 100%;
    }
    .courses-title img {
        width: 100%;
    }
    .res-mg-b-30 {
        margin-bottom: 30px;
    }
    .login-social-inner a.button {
        margin: 5px 5px;
    }
    .button-ap-list button {
        margin-bottom: 10px;
    }
    .mobile-sm-d-n {
        display: none;
    }
    .blog-sig-details h1 {
        margin-top: 40px;
    }
    .add-product a {
        display: none;
    }
    .active-hook button {
        margin: 3px 0px;
    }
    .notification-bt .btn-info {
        margin: 5px 5px;
    }
    .breadcome-menu {
        display: none;
    }
    .mean-container .mean-nav ul li a {
        color: #303030;
    }
    .mean-container .mean-nav ul li a:hover {
        color: #64d9ae;
    }
    .graph-rp-dl p {
        display: none;
    }
    .caption.pro-sl-hd {
        margin-bottom: 10px;
    }
    .white-box.analytics-info-cs h3 {
        margin-bottom: 15px;
    }
    .graph-rp.actions-graph-rp {
        position: relative;
        top: -35px;
    }
    .basic-login-inner {
        margin-top: 15px;
    }
    .comment-replay {
        display: none;
    }
    .comment-details h4 {
        line-height: 24px;
    }
    .comment-head h3::before,
    .lead-head h3::before,
    .comment-head h3::after,
    .lead-head h3::after {
        display: none;
    }
    .review-content-section .jp-card {
        width: 100%;
        min-width: 0px;
    }
    .preview-img-pro-ad {
        margin-top: 20px;
    }
    .sr-input-func {
        width: 100%;
    }
    .breadcome-heading .form-control,
    .sr-input-func .form-control:focus {
        width: 100%;
    }
    .sr-input-func a {
        top: 7px;
        right: 15px;
    }
    .tab-content-details h2 {
        line-height: 24px;
    }
    #myTab3.tab-review-design li a:before,
    #myTab4.tab-review-design li a:before,
    #myTabedu1.tab-review-design li a:before {
        bottom: -10px;
    }
    #myTab3.tab-review-design li.active a:before,
    #myTab4.tab-review-design li.active a:before,
    #myTabedu1.tab-review-design li.active a:before {
        bottom: -10px;
    }
    .pro-ad .download-custom h2,
    .pro-ad .download-custom p {
        line-height: 24px;
    }
    .notes-img img {
        margin-top: 20px;
    }
    .nck-ds {
        display: none;
    }
    .input-mask-title {
        text-align: left;
    }
    .alert-success-style1::before,
    .alert-success-style2::before,
    .alert-success-style3::before,
    .alert-success-style4::before {
        position: unset;
    }
    .contact-stat {
        width: 33.33%;
    }
    .professor-stds {
        width: 33.33%;
    }
    .basic-ele-mg-t-10 {
        margin-top: 10px;
    }
    .basic-login-form-ad .modal-dialog {
        width: 300px;
    }
    .bs-bars.pull-left,
    .pull-right.search {
        width: 100%;
    }
    .custom-datatable-overright .btn {
        padding: 6px 14px;
    }
    .datatable-dashv1-list .form-control {
        border-radius: 3px;
    }
    .columns.columns-right.btn-group.pull-right {
        display: none;
    }
    #myTab3.tab-review-design,
    #myTabedu1.tab-review-design {
        padding: 0px 15px;
    }
    .custom-product-edit {
        margin-top: 0px;
    }
    .payment-adress {
        text-align: left;
    }
    .login-horizental.lg-hz-mg {
        margin-top: 20px;
    }
    .images-action-pro .btn {
        margin: 5px 0px;
    }
    .error-page-int h4 {
        line-height: 24px;
    }
    .mailbox-hd .input-group-btn.active-hook {
        position: relative;
        top: -3px;
    }
    .mail-btn-sd {
        display: none;
    }
    .mail-btn-sd.mg-b-15 {
        margin-bottom: 0px;
    }
    .mailbox-view .view-hd-ml {
        position: relative;
        top: 6px;
    }
    .modal-dialog {
        width: 300px;
    }
    .dropzone-custom-sys {
        padding: 30px 20px;
    }
    .chat-discussion .chat-message .message-avatar {
        float: unset;
        height: 60px;
        width: 60px;
    }
    .chat-discussion .chat-message .message {
        text-align: left;
        margin-left: 0px;
    }
    .chat-discussion .chat-message .message-date {
        float: unset;
        display: block;
    }
    .m-t-md .btn {
        margin: 5px 0px;
    }
    .profile-hdtc {
        margin-bottom: 15px;
    }
    .sm-res-mg-15 {
        margin-top: 15px;
    }
    .header-right-info ul.header-right-menu li.open .author-message-top,
    .header-right-info ul.header-right-menu li.open .notification-author,
    .header-right-info ul.header-right-menu li.open .author-log {
        top: 214%;
    }
    .header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
        top: 215%;
    }
    .header-right-info ul.header-right-menu li.open .author-log {
        top: 190%;
    }
    .header-right-info .author-message-top::before,
    .header-right-info .notification-author::before {
        position: unset;
        display: block;
        border-width: 0px;
    }
    button.pd-setting-ed {
        margin: 5px 5px;
    }
    .fc-event-container a {
        display: none;
    }
    .fc-button-group {
        display: none;
    }
    .calender-inner .fc-state-default {
        display: none;
    }
    .table-responsive {
        border: 0px solid #ccc;
    }
    .img-croper-fl {
        display: block;
    }
    .common-pre-dz {
        margin-left: 0px;
    }
    .comon-method {
        margin-top: 15px;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
    .fc-toolbar .fc-right {
        float: right;
        margin: 0px 0px;
    }
    .product-statas-wrap {
        margin: 0px 110px;
    }
    .knob-single input {
        right: 120px;
    }
    .breadcome-menu {
        display: block;
    }
    .graph-rp-dl p {
        display: block;
    }
    .graph-rp.graph-rp-dl {
        position: relative;
        top: -30px;
    }
    .comment-replay {
        display: block;
    }
    .breadcome-menu {
        display: none;
    }
    .notes-img img {
        margin-top: 20px;
    }
    .alert-success-style1::before,
    .alert-success-style2::before,
    .alert-success-style3::before,
    .alert-success-style4::before {
        position: unset;
    }
    .basic-login-form-ad .modal-dialog {
        width: 500px;
    }
    .modal-dialog {
        width: 500px;
    }
    .profile-img {
        text-align: center;
    }
}